@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 96.5%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 208 26% 64%;
    --primary-foreground: 222 47% 11%;
    --secondary: 210 40% 90%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 90%;
    --muted-foreground: 210 40% 45%;
    --accent: 49 15% 66%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 88%;
    --input: 0 0% 100%;
    --ring: 208 26% 64%;
    --radius: 0.8rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 208 26% 64%;
    --primary-foreground: 222 47% 11%;
    --secondary: 222 47% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 222 47% 20%;
    --muted-foreground: 210 40% 60%;
    --accent: 49 15% 66%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 222 47% 20%;
    --input: 222 47% 20%;
    --ring: 208 26% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
